html, body {
	margin:0;
    padding:0;
    height: 100%;
    min-height: 100%;
}

p {
	margin:0;
}

#coord_container {
	padding: 3% 1% 1% 3%;
}

#coordinates {
	border: 2px solid;
	padding: 1.5% 2.5%;
}

#coordinates p {
	line-height: 32px;
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
}

#dt_container {
	padding:3% 3% 1% 1%;
}

#data_time {
	border: 2px solid;
	padding: 3.205% 5%;
}

#data_time p {
	line-height: 32px;
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
}

.title {
	font-weight: bold;
}

.text {
	padding-left: 15px;
	font-style: italic;
}

#map_container {
	padding: 1% 1% 3% 3%;
}

#location {
	border: 2px solid;
	height: 100%
}

#map { 
	height: 100%;
	width: 100%;
}

#members_container {
	padding:1% 3% 3% 1%;
}

#table_members {
	height: 100%;
	display: flex;
	flex-direction: column;	
	border: 2px solid;
}

#list_members {
	flex-grow: 1;
	padding-top: 2%;
	padding-bottom: 2%;
	overflow-y: scroll;
	height: 620px;
}

.member {
	display: flex;
	border: 2px solid;
	border-radius: 35px;
	margin: 3%;
    padding: 4% 6% 4% 6%;
}

#icon {
	font-size: 65px;
}

.member p {
	line-height: 32px;
	font-size: 28px;
	font-family: 'Roboto', sans-serif;
	display: block;
    margin: auto auto;
}

#total_members{
	padding: 3%;
    border-top: 2px solid;
    text-align: center;
}

#total_members p {
	line-height: 32px;
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
}